# unpacked plugin folders
plugins/**/*

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/sql

# AssetBundler plugin: generated bundles
javascripts/bundles
stylesheets/bundles

# Eclipse, CFEclipse or ColdFusion Builder files
.settings

# FuseBox files
parsed

